.next{
    float: right;
    color: #c0392b
}
.numPages{
    margin-left: 38.5%;
    color: #c0392b

}

.sort{
    color: #c0392b;
    cursor: pointer
}
.sorting{
color: #c0392b;
font-size: 20px;
margin-left: 2vh;

}