body{
    background-color: black;
    /* background-image: url("/src/86113.jpg"); */
    font-family: 'Montserrat', sans-serif;
}


#home-container{
margin-top: 10vh;
}
.header{
    color: red;
    display: grid;
    flex-direction: column;
    justify-content: center;

}
#rafa{
    display: inline-block;
    font-size: 5vh;
    padding:15vh;
    border-radius: 20px;
    background-image: url(https://res.cloudinary.com/teepublic/image/private/s--N4WEOUwk--/t_Preview/b_rgb:39383d,c_limit,f_jpg,h_630,q_90,w_630/v1509132094/production/designs/2005019_1.jpg);
    background-size: 120%;
    background-position: center; 
    background-repeat: no-repeat;
    background-color: red;
    color: red;
    margin-left:44vh;
    margin-top: 9vh;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0px 0px 17px 7px rgba(175, 31, 31, 0.73);
    -moz-box-shadow: 0px 0px 17px 7px rgba(175, 31, 31, 0.73);
    box-shadow: 0px 0px 17px 7px rgba(175, 31, 31, 0.73);

}
.rafa{
    display: inline-flex;
}
.aya{
    display: inline-flex;
}
.toto{
    display: inline-flex
}
.rafaText{
    margin-left: 55vh;
    margin-top: 2vh;
    color: red;
    font-weight: bolder;
    font-size: 25px;

}
.ayaText{
    margin-left: 24vh;
    margin-top: 2vh;
    color: red;
    font-weight: bolder;
    font-size: 25px;

}
.totoText{
    margin-left: 23vh;
    margin-top: 2vh;
    color: red;
    font-weight: bolder;
    font-size: 25px;

}
#rafa:hover{
    transform: translateY(-10px);
  }

#aya{
    display: inline-block;
    font-size: 5vh;
    padding:15vh;
    border-radius: 20px;
    background-image: url(https://ih0.redbubble.net/image.550714467.1941/flat,550x550,075,f.u2.jpg);
    background-size: 100%;
    background-position: center; 
    background-repeat: no-repeat;
    margin-left: 90px;
    margin-top: 9vh;
    text-align: center;
    -webkit-box-shadow: 0px 0px 17px 7px rgba(175, 31, 31, 0.73);
    -moz-box-shadow: 0px 0px 17px 7px rgba(175, 31, 31, 0.73);
    box-shadow: 0px 0px 17px 7px rgba(175, 31, 31, 0.73);
}
#aya:hover{
    transform: translateY(-10px);
  }
#toto{
    display: inline-block;
    font-size: 5vh;
    padding:15vh;
    border-radius: 20px;
    background-image: url(https://i.pinimg.com/originals/89/e8/45/89e845b1f3e6792f5b0b555d24e7ce4b.jpg);
    background-size: 100%;
    background-position: center; 
    background-repeat: no-repeat;
    margin-left: 90px;
    margin-top: 9vh;
    text-align: center;
    -webkit-box-shadow: 0px 0px 17px 7px rgba(175, 31, 31, 0.73);
    -moz-box-shadow: 0px 0px 17px 7px rgba(175, 31, 31, 0.73);
    box-shadow: 0px 0px 17px 7px rgba(175, 31, 31, 0.73);
}
#toto:hover{
    transform: translateY(-10px);
  }

