.descPic{
    display: flex
}
.imagen{
    float: left;
    width:40vh;
    height: 55vh;
    margin: 2vh;
    border-radius: 12px;
    -webkit-box-shadow: 0px 0px 17px 7px rgba(175, 31, 31, 0.73);
    -moz-box-shadow: 0px 0px 17px 7px rgba(175, 31, 31, 0.73);
    box-shadow: 0px 0px 17px 7px rgba(175, 31, 31, 0.73);
}

.description {
    font-family: 'Montserrat', sans-serif;
    color: #c0392b;
    text-indent: 50px;
    margin: 3vh;
    text-align: justify;
    float: right;
    font-size: 22px
  }

  .backb{
      margin-left: 2vh;
  }

  .trailer {
    width: 140vh;
    height: 60vh;
    margin-left: 2vh;
}