body{
  font-family: 'Montserrat', sans-serif;
  /* background-image: url(/src/86113.jpg); */
}
.home{
  margin-left: 5vh;

}
.catalog{
  margin-left: 2vh;
}
a:link {
  color: #c0392b;
}

a:visited {
  color: #c0392b;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: silver;
  opacity: 0.9;
  min-width: 110px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #c0392b;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #c0392b}

.dropdown:hover .dropdown-content {
  display: block;
}


.logo{
  background-image: url(/logo/twitter_header_photo_1.png);
  height: 14vh;
  width: 40vh;
  float: right;
  margin-right: 2vh;
  border-radius: 5px;
}

.main{
  margin-left: 2vh;
  margin-top: 4vh;
  font-size: 20px;

}
.home-link{
  margin-right: 10px
}

